
*{
	padding: 0px;
	box-sizing: border-box;
	margin: 0px;
}

.icon{
	display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: sticky;
    right: 20px;
    top: 20px;	
}

.encabezado{
	background-color: black;
	margin-bottom: -3%;
	z-index: 1000;
}

.encabezado nav{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1%;	
}

.encabezado nav ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.encabezado nav a {
	text-decoration: none;
	color: white;
	padding: 12px 20px;
	display: block;
	font-size: 20px;
}

.encabezado nav ul li ul{
	display: flex;
	flex-direction: column;
	position:absolute;
	display: none;
	animation: none;
	animation: show 0.3s ease-out;
}

.encabezado a{
	background-color: black;
}

.encabezado a:hover{
	background-color: white;
	color: black;
}

.encabezado nav ul li:hover> ul{
	display: block;
}

.encabezado nav img{
	width: 65px;
	margin-left: -180%;
	padding-bottom: -15%;
}

.encabezado nav ul.responsive {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: black;
}

body {
	margin: 0;
	background: linear-gradient(white white);
	font-family: "Euclid Circular A", "Poppins";
	color: white;
	background-color: white;
	background-image: url(../Imagenes/DiegoArmandoMaradona/ImagendeFondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	margin: 0;
	height: 500vh;
 }


section {
	margin-top: 3%;
	max-width: 1300px;
}

#ImagenPrincipal img{
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	max-width: 110%;
	margin-left: -2%;
}

#BodyPersonajes {
	margin-top: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: #fdfcfd;
	font-family: "Euclid Circular A", "Poppins";	
}
  
.card {
	justify-content: center;
	display: flex;
	align-items: center;
	width: 100vw;
	max-width: 1150px;
	padding: 50px 30px 50px 20px;
	background: lightskyblue;
	border-radius: 25px;
	margin-left: 3%;
	margin-top: 10%;
	
}
  
.card img {
	max-width: 280px;
	width: 35vw;
	height: 300px;
	object-fit: cover;
	margin-left: -60px;
	margin-right: 30px;
	border-radius: inherit;
	box-shadow: 0 60px 4e0px rgb(0 0 0 / 8%);
}
  
.card h2 {
	font-size: 26px;
	font-weight: 400;
	margin-top: 0;
	margin-right: 30px;
	margin-bottom: 10px;
	color: white;
}
  
.card h3 {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	opacity: 0.75;
	color: black;
}
  
.card p {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 30px;
	opacity: 0.5;
	color: black;
}
  
#cards{
	margin-top: 5%;
	margin-left: 1%;
	margin-bottom: 5%;
}
  
  

.articulo {
	margin-top: 5%;
	display: flex;
	background-color: lightskyblue;
	border-radius: 25px;
}

.articulo div{
	width: 80%;
	margin-left: 20%;
}


.articulo div img {
	width: 80%;
	margin-left: -20%;
	margin-top: 2%;
	border-radius: 25px;
	box-shadow:0 0 40px -10px #000;
}

.articulo div h2{
	margin-top: 10%;
	width: 90%;
	margin-left: -15%;
	text-align: left;
	font-size: 1.3rem;
	color: black;
	font-family: "Euclid Circular A", "Poppins";
}



.articulo{
	margin-top: 5%;
	display: flex
}

#Trailer{
	margin-top: 5%;
    margin-left: 30%;
    justify-content: center;
	align-items: center;
	
}

#VideoGolIngleses{
	margin-top: 5%;
    margin-left: 27%;
    justify-content: center;
	align-items: center;
}

#SueñoBendito{
	color: black;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	margin-bottom: 2%;
	display: flex;
	border-radius: 25px;
}

h3{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}


.Articulo div{
	align-content: center;
	display: block;
	width: 50%;
	margin: 0 auto;
}

.Articulo div h3{
    width: 100%;
    display: inline-block;
    justify-content: center;
	text-align: center;
	margin-bottom: 5%;
    margin-top: 5%;
}

.Articulo div img{
    width: 100%;
    display: inline-block;
    justify-content: center;
	align-items: center;
}


.articuloGaleria{
	margin-bottom: -10%;
	border-radius: 25px;
}

.articuloGaleria div{
	margin-top: 6%;
	margin-left: 1%;
}

.articuloGaleria div img{	
	padding: 3%;
	text-align: center;
	background-color: lightskyblue;
	width: 33%;
}



h1{
	margin-top: 8%;
	margin-left: 10%;
	font-size: 300%;
}

:root {
	--purple: hsl(240, 80%, 89%);
	--pink: hsl(0, 59%, 94%);
	--light-bg: hsl(204, 37%, 92%);
	--light-gray-bg: hsl(0, 0%, 94%);
	--white: hsl(0, 0%, 100%);
	--dark: hsl(0, 0%, 7%);
	--text-gray: hsl(0, 0%, 30%);
}
  
  
h3 {
	font-size: 1.5em;
	font-weight: 700;
}
  
p {
	font-size: 1.3em;
	line-height: 1.7;
	font-weight: 300;
	color: white;
}
  
.description {
	white-space: wrap;
	color: #ffffff;
}
  
a{
	text-decoration: none;
	color: inherit;
}
  
  

  
  
.button {
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: auto;
	padding: 16px;
	color: #000;
	background: transparent;
	box-shadow: 0px 0px 0px 1px black inset;
	transition: background 0.4s ease;
}
  
.button:hover {
	background: var(--purple);
}
  
.fill-one {
	background: var(--light-bg);
}
  
.fill-two {
	background: var(--pink);
}

@media (min-width: 1100px) {
	.box {
	  flex-basis: calc(40% - 18px);
	}
  }
  

  

.form{
	width:100%;
	height:440px;
	background:lightskyblue;
	border-radius:8px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(1vh) auto;
	padding:10px 30px;
	box-sizing:border-box;
	font-family:'Montserrat',sans-serif;
	font-size: 14px;
	margin-left: -2%;
}

h3.contacto{
	margin:10px 0;
	padding-bottom:10px;
	width:150px;
	color:black;
	border-bottom:3px solid black;
	font-size: large;
}

input{
	width:100%;
	margin-top: 30px;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	transition:all .3s;
	border-bottom:2px solid black
}

input:focus{
	border-bottom:2px solid black
}

button{
	padding:8px 12px;
	margin:50px 0 0;
	border:2px solid black;
	background:0;color:black;
	cursor:pointer;
	transition:all .3s;
}

button:hover{
	background:#78788c;
	color:black;
}

div.pie_contacto{
	position:relative;
	bottom:-40px;
	background:#50505a;
	color:#fff;
	width: 100%;
	padding:16px 4px 16px 0;
	border-radius:6px;
	box-shadow:10px 10px 40px -14px #000;
	left: 10%;
}

div.pie_contacto span{
		
		margin:0 5px 0 30px;
}

.clasecontacto{
	display: flex;
}

.clasecontacto div{
	width: 80%;
}

.clasecontacto img{
	margin-top: 12%;
	width: 100%;
	box-shadow:10px 10px 40px -14px #000;
}

@keyframes show {
	from {
		opacity: 0;
		scale: 25%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}


.articulosjuntosmaradona div  {
	view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}

html{
	scroll-behavior: smooth;
}
  
html,
  body {
	height: 100%;
	
}
  
.background {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
  
ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
  
.socials {
	margin-top: 15%;
	gap: 20px;
	margin-left: 50%;
	justify-content: center;
	align-items: center;
}
  
.socials a {
	font-size: 24px;
	justify-content: center;
	align-items: center;
}
  
.links {
	gap: 10px;
	margin-left: 50%;
	justify-content: center;
	align-items: center;
}
  
.legal {
	font-size: 12px;
	justify-content: center;
	align-items: center;
	margin-left: 60%;
}
  
svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scaleY(3) scaleX(2.25);
	transform-origin: bottom;
	box-sizing: border-box;
	display: block;
	pointer-events: none;
}
  
.BodyDIEGO{
	margin: 0;
	background-color: white;
}

.banner {
	position:static;
	display: flex;
	align-items: center;
	gap: 50px;
	justify-content: space-between;
	padding-top: 100px;
	padding-bottom: 100px;
	min-height: 20vw;
	margin-bottom: 40px;
	
}

.banner::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 50%;
	left: -5%;
	translate: -50% -50%;
	width: 210%;
	height: 85%;
	background: lightskyblue;
}
  
.SECCIONMARADONA h2{
	color: #000;
	margin-top: 5%;
}

.SECCIONMARADONA p{
	font-size: 1.3rem;
	color: #000;
}

.banner h1 {
	justify-content: left;
	white-space: nowrap;
	margin: 0 0 4px;
	font-size: 40px;
	color: rgba(0, 0, 0, 0.96);
}
  
.banner h3 {
	font-weight: 400;
	margin-top: 3% ;
	color: rgba(0, 0, 0, 0.57);
}

.articulomaradona {
	margin-top: 5%;
	display: flex;
	background-color: lightskyblue;
	border-radius: 25px;
}

.articulomaradona div{
	width: 50%;
	padding: 3%;
	text-align: center;
}

.articulomaradona div img {
	width: 70%;
	border-radius: 25px;
	box-shadow:0 0 40px -10px #000;
}

.articulomaradona div p{
	margin-top: 22%;
	width:100%;
	margin-left: 4%;
	text-align: left;
	font-size: 1.3rem;
	color: black;
}

.articulomaradonaSeleccion{
	display: flex;
	background-color:lightskyblue;
	border-radius: 25px;
}
.articulomaradonaSeleccion div{
	width: 50%;
}

.articulomaradonaSeleccion div img {
	width: 80%;
	margin-top: 12%;
	margin-left: 2%;
	border-radius: 25px;
	box-shadow:0 0 40px -10px #000;
}

.articulomaradonaSeleccion div p{
	
	color: black;
	margin-left: -5%;
	text-align: left;
	font-size: 1.3rem;
}

@keyframes morph {
	0%,
	100% {
	  border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
	}
	34% {
	  border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
	}
	67% {
	  border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
	}
}
  
.banner img {
	width: 220px;
	height: 220px;
	object-fit: cover;
	animation: morph 3.5s linear infinite;
}

.FooterPersonajesPrincipales{
	margin-top: 78%;
	position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    width: 60%;
    height: 370px;
	margin-left: 2.5%;
}

footer {
	position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    width: 60%;
    height: 370px;
	margin-left: 2.5%;
	justify-content: center;
	align-items: center;	
}
  
section {
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
    padding-bottom: 80px;
    padding-left: 60px;
    width: 100%;
}

.gotopbtn{
	position: fixed;
	width: 50px;
	height: 50px;
	background: black;
	bottom: 40px;
	right: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: lightskyblue;
	font-size: 22px;
}

.wrap {
	display:flex;
	justify-content: center;
	align-items: stretch;
	width: 50%;
	gap: 24px;
	padding: 24px;
	flex-wrap: wrap;
	margin-left: 25%;
}
  
.box {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	position:static;
	padding: 24px;
	background: black;
}
  
.box-top {
	display: flex;
	flex-direction: column;
	position: static;
	gap: 12px;
	margin-bottom: 36px;
}
  
.box-image {
	width: 100%;
	height: 360px;
	object-fit: cover;
	object-position: 50% 20%;
}
  
 

.title-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
  
.box-title {
	border-left: 3px solid var(--purple);
	padding-left: 12px;
}
  


@media (max-width: 480px){

	.encabezado nav ul {
        display: none;
        flex-direction: column;
        width: 100%;	
    }

    .encabezado nav ul li {
        width: 100%;
        text-align: center;
    }

    .encabezado nav ul.responsive {
        display: flex;
    }

    .icon {
        display: block;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

	section div img{
		max-width: 480px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	#ImagenPrincipal img{
		display: flex;
		justify-content: center;
		margin-left: -6.5%;
	}

	#SueñoBendito{
		margin-left: 1%;
	}

	.articulo{
		display: block;
		margin-right: 10%;
	}

	.articulo div h2{
		display: block;
		font-size: 1rem;	
		width: 100%;
		margin-bottom: 5%;
	}

	.articulo div img{
		width: 100%;
		margin-left: -13%;
	}

	#Trailer{
		margin-left: -21.5%;
		margin-right: auto;	
		width: 10%;
		height: 10%;
	}

	#VideoGolIngleses{
		margin-left: -5%;
		width: 100%;
	}

	.wrap {
		display:flex;
		justify-content: center;
		align-items: stretch;
		width: 100%;
		gap: 24px;
		padding: 24px;
		flex-wrap: wrap;
		margin-left: -5%;
	  }

	.gotopbtn{
		background-color: rgb(43, 0, 43);
		color: white;
	}
	
	.banner {
		padding-top: 40px;
		min-height: 100vw;
		margin-bottom: 40px;
	  }

	.banner h1 {
		margin-left: -2%;
		font-size: 30px;
	  }
	
	.articulomaradona {
		margin-left: -10%;
		display: block;
	}
	
	.articulomaradona div{
		width: 90%;
		
	}
	
	.articulomaradona div img {
		width: 70%;
		margin-left: 13%;
	}
	
	.articulomaradona div p{
		margin-top: 2%;
		margin-left: 7%;
	}
	
	.articulomaradonaSeleccion{
		display: block;
		margin-left: -10%;
	}

	.articulomaradonaSeleccion div{
		width: 90%;
	}
	
	.articulomaradonaSeleccion div img {
		width: 100%;
		margin-left: 5%;
	}
	
	.articulomaradonaSeleccion div p{
		margin-left: 12%;
		
	}  

	.card {
		width: 100%;
		display: block;
		margin-top: 900%;
		margin-left: -15%;
	  }
	  
	.card img {
		width: 100%;
		margin-left: 13%;
	  }
	  
	.card h2 {
		font-size: 26px;
		font-weight: 400;
		margin-top: 0;
		margin-right: 30px;
		margin-bottom: 10px;
		color: white;
	  }
	  
	.card h3 {
		font-size: 16px;
		font-weight: 400;
		margin: 0;
		opacity: 0.75;
		color: black;
	  }
	  
	.card p {
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 30px;
		opacity: 0.5;
		color: black;
	  }
	  
	#cards{
		margin-top: 5%;
		margin-left: -7%;
		margin-bottom: 5%;
	   }

	.articuloGaleria div{
		margin-left: -3%;
	}
	
	.articuloGaleria div img{
		padding: 3%;
		text-align: center;
		background-color: lightskyblue;
		width: 90%;
	}

	div.pie_contacto {
        position: relative;
        bottom: -15px;
        right: 5%;
        background: #50505a;
        color: #fff;
        width: 90%; 
        padding: 16px 4px 16px 0;
        border-radius: 6px;
        box-shadow: 10px 10px 40px -14px #000;
		margin-left: 10%;
    }

    div.pie_contacto span {
        margin: 0 5px 0 15px;
	}

	.clasecontacto{
		display: block;
	}
	
	.clasecontacto div{
		width: 100%;
		margin-left: -5%;
	}
	
	.clasecontacto img{
		margin-top: 12%;
		margin-left: -2%;
	}

	footer {
		width: 75%;
		position: relative;
		margin-left: -25%;
	}

	.socials {
		margin-left: 100%;
		justify-content: center;
		align-items: center;
	  }
	
	.links {
		margin-left: 102%;
	  }
	  
	.legal {
		font-size: 12px;
		justify-content: center;
		align-items: center;
		margin-left: 103%;
		display: flex;
	  }

	.FooterPersonajesPrincipales{
		margin-top: 860%;
		width: 75%;
		position: relative;
		margin-left: -25%;
	}

}