
* {
	padding: 0px;
	box-sizing: border-box;
	margin: 0px;
}

.icon{display: none;}

.encabezado{
	background-color: black;
	margin-bottom: -3%;
	z-index: 1000;
}

.encabezado nav{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1%;
	
}

.encabezado nav ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.encabezado nav a {
	text-decoration: none;
	color: white;
	padding: 12px 20px;
	display: block;
	font-size: 20px;
}

.encabezado nav ul li ul{
	display: flex;
	flex-direction: column;
	position:absolute;
	display: none;
	animation: none;
	animation: show 0.3s ease-out;
}

.encabezado a{
	background-color: black;
}

.encabezado a:hover{
	background-color: white;
	color: black;
}

.encabezado nav ul li:hover> ul{
	display: block;
	
}

.encabezado nav img{
	width: 65px;
	margin-left: -180%;
	padding-bottom: -15%;
}


body {
	margin: 0;
	background: linear-gradient(white white);
	font-family: "Euclid Circular A", "Poppins";
	color: white;
	background-color: white;	
 }


section {
	margin-top: 3%;
	max-width: 1300px;
}

#ImagenPrincipal img{
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	margin-left: -5%;
	align-items: center;
	color: #ffffff;
	justify-content: right;
	max-width: 100%;
}

#BodyPersonajes {
	margin-top: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: #fdfcfd;
	font-family: "Euclid Circular A", "Poppins";
	
  }
  
  .card {
	justify-content: center;
	display: flex;
	align-items: center;
	width: 75vw;
	max-width: 650px;
	padding: 50px 30px 50px 20px;
	background: rgb(8, 0, 41);
	border-radius: 24px;
  }
  
  .card img {
	max-width: 280px;
	width: 35vw;
	height: 300px;
	object-fit: cover;
	margin-left: -60px;
	margin-right: 30px;
	border-radius: inherit;
	box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
  }
  
  .card h2 {
	font-size: 26px;
	font-weight: 400;
	margin-top: 0;
	margin-right: 30px;
	margin-bottom: 10px;
	color: white;
  }
  
  .card h3 {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	opacity: 0.75;
	color: gray;
  }
  
  .card p {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 30px;
	opacity: 0.5;
  }
  
  #CardIzquierda1{
	margin-top: 5%;
	margin-right: 40%;
  }
  
  #CardIzquierda2{
	display: flex;
	margin-top: 5%;
	margin-right: 70%;
  }

#CardIzquierda3{
	margin-top: 5%;
	margin-left: -40%;

}

  #CardDerecha{
	margin-top: 5%;
	margin-left: 45%;
  }

.articulo {
	margin-top: 5%;
	display: flex;
}

.articulo div{
	width: 50%;
	padding: 3%;
	text-align: center;
}

.articulo div img {
	width: 50%;
	
}

.articulo div h2{
	margin-top: 15%;
	width: 75%;
	margin-left: 40%;
	text-align: left;
	font-size: 1.3rem;
}

h2{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

.articulo{
	margin-top: 5%;
	display: flex
}

#Trailer{
	margin-top: 5%;
    margin-left: 30%;
    justify-content: center;
	align-items: center;
	
}

#SueñoBendito{

	display: flex;
	justify-content: center;
	align-items: center;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	margin-bottom: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

h3{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	
}


.Articulo div{
	align-content: center;
	display: block;
	width: 50%;
	margin: 0 auto;
	
}

.Articulo div h3{
    width: 100%;
    display: inline-block;
    justify-content: center;
	text-align: center;
	margin-bottom: 5%;
    margin-top: 5%;
}

.Articulo div img{
    width: 100%;
    display: inline-block;
    justify-content: center;
	align-items: center;

}

#nafta2{
	max-width: 200px;	
	margin-bottom: -10%;
}

.articuloGaleria{

	margin-bottom: -10%;

}

.articuloGaleria div{
	margin-top: 6%;
	margin-left: 7%;
	display: inline;
}

.articuloGaleria div img{
	display: inline;
	padding: 3%;
	text-align: center;
}

h1{
	margin-top: 8%;
	margin-left: 10%;
	font-size: 300%;
}

:root {
	--purple: hsl(240, 80%, 89%);
	--pink: hsl(0, 59%, 94%);
	--light-bg: hsl(204, 37%, 92%);
	--light-gray-bg: hsl(0, 0%, 94%);
	--white: hsl(0, 0%, 100%);
	--dark: hsl(0, 0%, 7%);
	--text-gray: hsl(0, 0%, 30%);
  }
  
  
  h3 {
	font-size: 1.5em;
	font-weight: 700;
  }
  
  p {
	font-size: 1.3em;
	line-height: 1.7;
	font-weight: 300;
	color: white
  }
  
  .description {
	white-space: wrap;
  }
  
  a {
	text-decoration: none;
	color: inherit;
  }
  
  .wrap {
	display: flex;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	gap: 24px;
	padding: 24px;
	flex-wrap: wrap;
	
  }
  
  .box {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	position:static;
	padding: 24px;
	background: black;
  }
  
  .box-top {
	display: flex;
	flex-direction: column;
	position: static;
	gap: 12px;
	margin-bottom: 36px;
  }
  
  .box-image {
	width: 100%;
	height: 360px;
	object-fit: cover;
	object-position: 50% 20%;
  }
  
  .box-imagec{

	width: 100%;
	height: 360px;
	object-fit: cover;
	object-position: 5% 20%;
  }

  .title-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .box-title {
	border-left: 3px solid var(--purple);
	padding-left: 12px;
  }
  
  
  
  .button {
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: auto;
	padding: 16px;
	color: #000;
	background: transparent;
	box-shadow: 0px 0px 0px 1px black inset;
	transition: background 0.4s ease;
  }
  
  .button:hover {
	background: var(--purple);
  }
  
  .fill-one {
	background: var(--light-bg);
  }
  
  .fill-two {
	background: var(--pink);
  }

  @media (min-width: 1100px) {
	.box {
	  flex-basis: calc(40% - 18px);
	}
  }
  

.form{
	width:100%;
	height:440px;
	background:#e6e6e6;
	border-radius:8px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(1vh) auto;
	padding:10px 30px;
	box-sizing:border-box;
	font-family:'Montserrat',sans-serif;
	font-size: 14px;
	
}

h3.contacto{
	margin:10px 0;
	padding-bottom:10px;
	width:150px;
	color:#78788c;
	border-bottom:3px solid #78788c;
	font-size: large;
}

input{
	width:100%;
	margin-top: 30px;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	transition:all .3s;
	border-bottom:2px solid #bebed2
}

input:focus{
	border-bottom:2px solid #78788c
}

button{
	padding:8px 12px;
	margin:50px 0 0;
	border:2px solid #78788c;
	background:0;color:#5a5a6e;
	cursor:pointer;
	transition:all .3s;
}

button:hover{
	background:#78788c;
	color:#fff;
}

div.pie_contacto{
	position:absolute;
	bottom:-45px;
	right: 32%;
	background:#50505a;
	color:#fff;
	width:420px;
	padding:16px 4px 16px 0;
	border-radius:6px;
	box-shadow:10px 10px 40px -14px #000;
	
}

div.pie_contacto span{
		
		margin:0 5px 0 30px;
}
@keyframes show {
	from {
		opacity: 0;
		scale: 25%;
	}

	to {
		opacity: 1;
		scale: 100%;
	}
}


.articulosjuntosmaradona div  {
	view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show;

	animation-range: entry 25% cover 30%;
	animation-fill-mode: both;
}


  
  html,
  body {
	height: 100%;
  }
  
  .background {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }
  
  ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .socials {
	gap: 20px;
	margin-left: 70%;

  }
  
  .socials a {
	font-size: 24px;
  }
  
  .links {
	gap: 10px;
	margin-left: 67%;
  }
  
  .legal {
	font-size: 12px;
	margin-left: 65%;
  }
  
  svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scaleY(3) scaleX(2.25);
	transform-origin: bottom;
	box-sizing: border-box;
	display: block;
	pointer-events: none;
  }
  
.BodyDIEGO{
	margin: 0;
	background-color: white;
  }

  .banner {
	position:static;
	display: flex;
	align-items: center;
	gap: 50px;
	justify-content: space-between;
	padding-top: 100px;
	padding-bottom: 100px;
	min-height: 40vw;
	margin-bottom: 40px;
	
  }

  .banner::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 50%;
	left: -5%;
	translate: -50% -50%;
	width: 210%;
	height: 110%;
	
	background: rgb(8, 0, 41);
  }
  
  .SECCIONMARADONA h2{

	margin-top: 5%;

  }

  .SECCIONMARADONA p{
	font-size: 1.3rem;
	color: #000;
  }

  .banner h2 {
	white-space: nowrap;
	margin: 0 0 4px;
	font-size: 40px;
	color: rgb(255 255 255 / 96%);
  }
  
  .banner h3 {
	font-weight: 400;
	margin-top: 3% ;
	color: rgb(255 255 255 / 57%);
  }

  
@keyframes morph {
	0%,
	100% {
	  border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
	}
	34% {
	  border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
	}
	67% {
	  border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
	}
  }
  
  .banner img {
	width: 220px;
	height: 220px;
	object-fit: cover;
	animation: morph 3.5s linear infinite;
  }

  .FooterPersonajesPrincipales{
	margin-top: 68%;
	position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    width: 60%;
    height: 370px;
	margin-left: 2.5%;
  }

  footer {
	position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    width: 60%;
    height: 370px;
	margin-left: 2.5%;
  }
  
section {
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
    padding-bottom: 80px;
    padding-left: 60px;
    width: 100%;
  }



@media (max-width: 480px){

	.encabezado nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .encabezado nav ul li {
        width: 100%;
        text-align: center;
    }

    .encabezado nav ul.responsive {
        display: flex;
    }

    .icon {
        display: block;
        color: white;
        font-size: 24px;
        cursor: pointer;
		
		
    }

	section div img{
		max-width: 480px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	#ImagenPrincipal img{
		max-height: 280px;
	}

	#imgprincipal {
		width: 150%;
		margin-left: 20%;
	}
	.articulo{
		margin-top: 1%;
		display: block;
	}

	.articulo div h2{
		display: block;
		font-size: 1rem;	
		width: 100%;
		margin-left: 48%;
	}

	.articulo img{
		width: 100%;
	}
	#Trailer{
		margin-left: -7%;
		margin-right: auto;		
	}

	#nafta{
		text-align: center;
		margin-left: -3.5%;
	}

	#nafta2{
		margin-left: 25%;	

	}

	.episodiosdiv{
		margin-top: 1%;
		display: block;
		text-align: center;
	}

	.episodiosdiv img{
		margin-top: 6%;
		width: 100%;
		text-align: center;
	}


	.articuloGaleria div{

	margin-right: auto;
	margin-left: auto;
	width: 90%;
	}

	.articuloGaleria img{
		display: inline-block;
		width: 40%;
		
		margin-left: 2%;
		margin-bottom: 5%;
	}

	div.pie_contacto {
        position: relative;
        bottom: -15px;
        right: 5%;
        background: #50505a;
        color: #fff;
        width: 90%; 
        padding: 16px 4px 16px 0;
        border-radius: 6px;
        box-shadow: 10px 10px 40px -14px #000;
		margin-left: 10%;
    }

    div.pie_contacto span {
        margin: 0 5px 0 15px;
    }
	footer{
		height: 80px;	
	}
	footer img{
		max-width: 3rem;
	}
	}
